.button {
    -fx-font-weight: bold;
}

.header-bg {
    -fx-background-color: #87CEFA;
}

.footer-bg {
    -fx-background-color: #87CEFA;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.login-bg {
    -fx-background-image: url("../images/login-body-bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.app-bg {
    -fx-background-color: #FFFFFF;
}

.save-btn {
    -fx-background-color: #87CEFA;
}

.section-title {
    -fx-border-color: #87CEFA;
    -fx-padding-top: 10, 0, 10, 0;
}